[submodule "omp-raknet"]
	path = lib/omp-raknet
	url = https://github.com/openmultiplayer/RakNet.git
	branch = omp
[submodule "omp-sdk"]
	path = lib/omp-sdk
	url = https://github.com/openmultiplayer/open.mp-sdk.git